/**************
LAYOUT
**************/

.container {
  max-width: 1000px;
}

#dashboard {
  margin: 70px 0 0 0;
}

#position {
  margin: 70px 0 0 0;
}

.sidebar {
  margin: 80px 0 0 0;
  font-size: 1.25em;
}

#tradeNav {
  margin: 0 0 20px 0;
}


/**************
TAB PANELS
**************/


#tradeForm {
  margin: 70px 0 0 0;
}

.tab-content{
  margin: 30px;
}

label {
  width: 150px;
}

#newPrice, #newShipment{
  margin: 0 0 20px 0;
}















